
.button {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    outline: none;
    border: none;
    border: 2px solid $color-pinkey;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 500ms all;

    &.button--submit {
        @include pinkey;
        color: $color-white;

        &:hover {
            @include whitey;
            color: $color-pinkey;
        }
    }

    &.button--signup {
        @include whitey;
        color: $color-pinkey;
        &:hover {
            transform: scale(1.05);
        }
    }
}
