.message-box {
    min-width: 200px;
    height: 50px;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    text-transform: uppercase;
    visibility: hidden;
    border: 2px solid black;
    padding: 0 4px;
    

    &--visible {
        visibility: visible;
    }

    &--success {
        background-color: $color-success;
    }

    &--failure {
        background-color: $color-failure;
    }

    &--warning {
        background-color: $color-warning;
    }
}

.button {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    outline: none;
    border: 2px solid $color-pinkey;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 500ms all;

    &.button--submit {
        background-color: $color-disabled;
        border: 2px solid $color-disabled;
        cursor: auto;
        color: $color-number;

        &.button--active {
            @include pinkey;
            color: $color-white;
            cursor: pointer;
            &:hover {
                @include whitey;
                color: $color-pinkey;
            }
        }
    }

    &.button--signup {
        @include whitey;
        color: $color-pinkey;

        &:hover {
            transform: scale(1.05);
        }
    }
}