
.heading_2 {
    font-size: 36px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    margin-bottom: $regular-padding;

    &.heading--left {
        text-align:center;
        @include large{text-align: left;}
        &.heading--phrase-style {
            text-transform: none;

            &::first-letter {
                text-transform: capitalize;
            }
        }
    }
}

.heading_3 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    line-height: 21.6px;
    &.heading--capitalized{text-transform: capitalize;}
}
