

.overview-section {
    
    @include flex-column-align-center;
    justify-content: flex-start;
    height: 500px;
    @include tablet{min-height: 782px;}
    @include large{min-height: 782px;}
    color: white;
    @include mobile{background-image: linear-gradient(to right, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../images/background_mobile.jpg');}
    @include tablet{background-image: linear-gradient(to right, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../images/background_tablet.jpg');}
    @include large{background-image: linear-gradient(to right, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url('../images/background_large.jpg'); }
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &__heading {

        text-transform: uppercase;
        text-align: center;
        line-height: 86px;
        letter-spacing: 0.05em;
        font-weight: 700;
        font-size: calc(30px + 42 * ((100vw - 360px) / 408));

        @include tablet {
            font-size: 72px;
        }

        @include large {
            font-size: 72px;
        }

    }

    &__intro {
        width: calc(300px + 240 * ((100vw - 360px) / 408));

        @include tablet {
            width: $input-large
        }

        @include large {
            width: $input-large;
        }

        text-align: center;
        margin: 39px 0;
        display: block;
        font-weight: 600;
        font-size: 24px;
        font-size: calc(18px + 6 * ((100vw - 360px) / 408));

        @include tablet {
            font-size: 24px;
        }

        @include large {
            font-size: 24px;
        }

        line-height: 150%;
        padding-bottom: 16px;
    }

    &__navbar {
        margin: 17px;
        @include tablet{margin: 17px auto 140px auto;}
        @include large {margin: 17px auto 140px auto;}

    }
}

.navbar {
    width: 100%;
    max-width: 1135px;
    height: 100px;
    padding: 41px 0 37px 0;
    @include flex-row-align-center;
    justify-content: space-between;

    &__hamburger-menu {

        position: fixed;
        z-index: 3000;
        top: 40px;
        right: 40px;
    }
}

.brand {
    
    @include flex-row-align-center;
    justify-content: flex-start;
    line-height: 22px;

    &__logo {
        margin-right: 10px;
        margin-left: 10px;
    }

    &__name {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
    }
}

.menu {
    display: none;

    @include tablet {
        display: block;
    }

    @include large {
        display: block;
    }

    &__item {
        font-weight: bold;
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0 10px;
        color: white;
        text-decoration: none;
        transition: transform 500ms;

        &:hover {
            transform: scale(1.1);
        }

        &--large {
            font-size: 24px;
        }

    }
}

.hamburger-menu {
    display: block;
    cursor: pointer;

    &:hover,
    &:focus {
        animation: rotate 2s infinite linear;
    }

    @include tablet {
        display: none;
    }

    @include large {
        display: none;
    }

    &.hidden {
        display: none;
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}