.technology-section {
    background-color: #ffffff;
    width: 100%;
    min-height: 500px;
    padding-top: $regular-padding;

    &__heading {
        margin-bottom: $regular-padding;
    }

    &__content {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.technology-item {
    width: 255px;
    height: 256px;
    @include flex-column-align-center;
    justify-content: flex-start;
    padding-left: 34px;
    padding-right: 30px;

    &__number {
        height: 120px;
        font-size: 100px;
        font-weight: 700;
        line-height: 120px;
        color: $color-number;
        position: relative;
        margin-bottom: 19px;
    }

    &__logo {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -85%);
    }

    &__feature {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin: 20px 5px 0px 5px;
        text-align: center;
        margin: 20px 0 0 0;
    }
}