//colors

$color-pinkey: #ED4C5C;
$color-grey: #FAFAFA;
$color-black: #000000;
$color-orange: #EE3D18;
$color-dark: #999999;
$color-white: #ffffff;
$color-number: #ececec;
$color-mobile-background: rgba(25, 117, 34, 0.7);
$color-success:#49AF41;
$color-warning: #F78302;
$color-failure: #C70001;
$color-disabled: #999999;


//paddings
$preface-horizontal-padding: 90px;
$stayfocused-horizontal-padding: 165px;
$input-space:30px;
$textarea-bottom-space:20px;
$mobile-small-padding:4vw;
$regular-padding:60px;

// element size
$card-width: 350px;
$card-textarea-width: 293px;
$card-textarea-height: 198px;
$input-large: 540px;




$breakMobile: 768px;
$breakTablet: 1024px;
$breakLarge: 1130px;



