//colors

$color-pinkey: #ED4C5C;
$color-grey: #FAFAFA;
$color-black: #000000;
$color-orange: #EE3D18;
$color-dark: #999999;
$color-white: #ffffff;
$color-number: #ececec;
$color-mobile-background: rgba(25, 117, 34, 0.7);



//paddings
$preface-horizontal-padding: 90px;
$stayfocused-horizontal-padding: 165px;
$input-space:30px;
$textarea-bottom-space:20px;

// element size
$card-width: 350px;
$card-textarea-width: 293px;
$card-textarea-height:198px;




$breakMobile: 768px;
$breakTablet: 1024px;
$breakLarge: 1130px;



